*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #5C469C;
}

.container{
    padding: 50px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 10px;
    width: 90vmin;
    box-shadow:  25px 50px rgba(7, 20, 35, 0.2)
}
.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}


button{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    outline: none;
    color: #020929;
    cursor: pointer;
}


select{
    padding: 5px;
    border-radius: 5px;
}
.options label,
.options select{
    font-family: "poppins",sans-serif;
}
input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}
#text-input{
    height: 50vmin;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid rgb(221, 221, 221);
}

.active{
    background-color: #e0e9ff;
    
}